In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DoubleType, TimestampType

In [3]:
spark = SparkSession.builder.appName("VerifySpark").getOrCreate()

In [5]:
df = spark.read.csv("data.csv", header=True, inferSchema=True)
df.show()

+-------+------------------+
|user_id|transaction_amount|
+-------+------------------+
|      5|            545.92|
|     98|            386.07|
|     30|            577.02|
|     14|            479.49|
|     34|            834.78|
|     29|            531.64|
|     72|            275.41|
|     79|            272.48|
|     38|            365.55|
|     47|            902.76|
|      8|            816.28|
|     82|            610.81|
|     29|             68.13|
|     34|            568.34|
|     26|            367.73|
|     98|             118.9|
|     54|            179.38|
|     78|             31.64|
|     43|            743.28|
|     61|             667.6|
+-------+------------------+
only showing top 20 rows

In [6]:
df.createOrReplaceTempView("data_table")

In [8]:
sql_df = spark.sql("SELECT user_id, COUNT(*) FROM data_table GROUP BY user_id")
sql_df.show()

+-------+--------+
|user_id|count(1)|
+-------+--------+
|     31|       7|
|     85|       9|
|     65|      11|
|     53|      11|
|     78|       9|
|     34|      17|
|     81|       7|
|     28|      21|
|     76|       8|
|     26|      10|
|     27|       8|
|     44|       9|
|     12|       8|
|     91|       7|
|     22|      13|
|     93|      14|
|     47|       4|
|      1|       9|
|     52|       9|
|     13|       9|
+-------+--------+
only showing top 20 rows

In [10]:
spark.stop()